<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle value="Draw Line" aria-label="Text align left" (change)="onButtonChange($event.value)">
    Draw Line
  </mat-button-toggle>
  <mat-button-toggle value="center" aria-label="Text align center" (change)="onButtonChange($event.value)">
    Blank
  </mat-button-toggle>
  <mat-button-toggle value="right" aria-label="Text align right" (change)="onButtonChange($event.value)">
    Blank
  </mat-button-toggle>
</mat-button-toggle-group>
